@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ew6f8n');
	src:url('../fonts/icomoon.eot?ew6f8n#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ew6f8n') format('truetype'),
		url('../fonts/icomoon.woff?ew6f8n') format('woff'),
		url('../fonts/icomoon.svg?ew6f8n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lupa:before {
    content: "\e90c";
    font-size: 4em;
}
.icon-meseros:before {
    content: "\e90d";
}
.icon-lines:before {
    content: "\e90e";
}
.icon-layers:before {
    content: "\e90f";
}
.icon-map-pin-fill:before {
    content: "\e900";
    font-size: 4em;
}
.icon-rigurusidad:before {
    content: "\e906";
    //font-size: 4em;
}

.icon-shirt-green:before {
    content: "\e906";
    font-size: 2em;
    display block
    margin 0 auto
}

.icon-shirt-pink:before {
    content: "\e906";
    font-size: 2em;
    display block
    
}

.icon-shirt-green-p:before {
    content: "\e906";
    font-size: 2em;
    display block
    margin 0 auto
}

.icon-rigurusidad-deco:before {
    content: "\e906";
    font-size: 11em;
    color: #a1ca28
}

.icon-decoracion-giff:before {
    content: "\f042";
}
.icon-decoracion-add:before {
    content: "\f0d1";
}
.icon-home:after {
    content: "\e901";
    margin-left: .3em;
}
.icon-musica:before {
    content: "\e907";
}
.icon-user-tie:before {
    content: "\e910";
}
.icon-experiencia:before {
    content: "\e911";
    font-size: 4em;
}
.icon-cristaleria:before {
    content: "\e912";
}
.icon-plaque:before {
    content: "\e913";
}
.icon-circle-up:before {
    content: "\e908";
}
.icon-circle-right:before {
    content: "\e909";
}
.icon-circle-down:before {
    content: "\e90a";
}

//Editable flecha abajo
.icon-circle-down-custom:before {
    content: "\e90a";
    position: absolute;
    font-size: 3em;
    top: -54px;
    text-align: center;
    left: 35px;
}

.icon-circle-left:before {
    content: "\e90b";
}
.icon-experiencia-dos:before {
    content: "\e52d";
    font-size: 4em;
}
.icon-local_bar:before {
    content: "\e540";
}
.icon-decoracion-flower:before {
    content: "\e545";
}
.icon-local_restaurant:before {
    content: "\e556";
}
.icon-flecha-turn:before {
    content: "\e5c6";
}
.icon-banquetes:before {
    content: "\eb49";
}
.icon-mobiliario:before {
    content: "\e914";
}

//Usado para dar informacion sobre icon-mobiliario
.icon-mobiliario-info:before {
    content: "\e914"
    display: inline-block;
    padding: 0 .5em;
    color: #009DEA;
    cursor: pointer;
    font-size: 1.2em
}
//Fin del bloque

.icon-decoracion:before {
    content: "\e915";
}

.icon-facebook:before {
    content: "\e902";
    padding: .8em .3em;
}
.icon-facebook-menu:before {
    content: "\e902";
    padding .1em 0
    font-size 2.5em

}
.icon-g.mail:before {
    content: "\e903";
}
.icon-eficiencia:before {
    content: "\f085";
    font-size: 4em;
}
.icon-innovacion:before {
    content: "\f0eb";
    font-size: 4em;
}
.icon-manteleria:before {
    content: "\f23a";
}

//usado para dar informacion

.icon-manteleria-info:after {
    content: "\f23a";
    display: inline-block;
    padding: 0 .5em;
    color: #009DEA;
    cursor: pointer;
    
}
//Fin de bloque

.icon-manteleria-dos:before {
    content: "\f285";
}
.icon-phone:before {
    content: "\e904";
    padding .8em .3em
}
.icon-mobile:before {
    content: "\e905";
    padding .8em .3em
}

.icon-eye:before {
    content: "\f06e";
}

.icon-triangle-down:before {
    content: "\f05b";
}
//Triangulo custom abajo
.icon-triangle-down-custom:before {
    content: "\f05b";
    //position: absolute;
    font-size: 4em;
    text-align: center;
    text-decoration none;
    text-shadow: -1px 1px 17px rgba(0,0,0,.4);
    
}
.icon-triangle-left:before {
    content: "\f044";
}
.icon-triangle-right:before {
    content: "\f05a";
    font-size: 4.5em;
    text-align: right;
    color: $blue;
    @media (max-width: 911px){
    
    text-align: center
    transform: rotate(90deg)
    transition rotate .10s ease
    }
}

.mixin1{
    justify-content: flex-end;
}
@media (max-width: 911px){
    .mixin1{
        justify-content: center;
    }
    
}

.icon-triangle-up:before {
    content: "\f0aa";
}

//Triangulo custom arriba
.icon-triangle-up-custom:before {
    content: "\f0aa";
    //position: absolute;
    font-size: 4em;
    text-align: center;
    text-decoration none;
    text-shadow: -1px 1px 17px rgba(0,0,0,.4);
}


.icon-question-circle2:before {
    content: "\f02c";
}
.icon-question-circle:after {
    content: "\f059";
}
.icon-question:before {
    content: "\f128";
}
.icon-salsera:before {
    content: "\e919";
}
.icon-cremera:before {
    content: "\e91a";
}

.icon-platos:before {
    content: "\e916";
}
.icon-salsera:before {
    content: "\e919";
}
.icon-cremera:before {
    content: "\e91a";
}
.icon-drink:before {
    content: "\e917";
}

.icon-seriedad:before {
    content: "\e91e";
    font-size: 4em;
}

.icon-directions:before {
    content: "\e52e";
}

.icon-innova:before {
    content: "\e91f";
    font-size: 4em;
}

.icon-puntualidad:before {
    content: "\e91b"
    font-size: 4em
}
.icon-puntualidad-bq:after {
    content: "\e91b"
    font-size: 1em
    margin .2em
}

.icon-lamp:before {
    content: "\e91c";
    font-size: 4em;
}

.icon-minus:before {
    content: "\e922";
}

.icon-plus:after {
    content: "\e923";
    font-size: 4em;
    color: $green-proyect3;
    display: inline-block;
    margin: .1em;
}

.icon-sign-in:before {
    content: "\f036";
}

.icon-eye-plus:before {
    content: "\e925";
    font-size: 3em;
    padding .1em 0
    //display: inline-block;
    margin 0 .2em 0 .1em
}

.icon-mesa:before {
    content: "\e921";
}

.icon-box-open:before {
    content: "\e91d";
}

.icon-box-close:before {
    content: "\e920";
    font-size: 5.5em;
    color: $green-proyect3;
}

.icon-entrada:before {
    content: "\e924";
}