.back-color-grey
  background-color $white-proyect

.pru
  width: 100%
  margin 0 auto
@media (min-width: 911px)
  .pru
    width 80%
@media (min-width: 911px)
  .pru
    width 70%

.box-style
  background-color #FBFBFB
  color $negro-carbon
  text-align left
  box-shadow: -1px 1px 31px -8px rgba(0,0,0,0.4)

.faq
  color $white-proyect
  display inline-block
  border-bottom 3px solid $header-color

.text-question
  color $white-proyect
  padding 9em 0 0 0
  text-align left
  text-shadow -1px 1px 17px rgba(0,0,0,0.4)

.text-section
  color $white-proyect
  padding 9em 0
  text-align left
  text-shadow -1px 1px 17px rgba(0,0,0,0.4)
  &-2
    padding 0 0 9em 0
    color $white-proyect
    text-shadow -1px 1px 17px rgba(0,0,0,0.4)


.title-section
  margin 0 auto
  color $white-proyect
  font-size 3em
  text-transform uppercase
  display inline-block
  border-bottom 5px solid $header-color
  text-shadow -1px 1px 17px rgba(0,0,0,0.4)


.img
  width: 50%
  margin 0
  padding 0

.img60
  width 60%
  margin 0
  padding 0
.img40
  width 40%
  margin 0
  padding 0
  
.img80
  width 80%
  margin 0
  padding 0
  
//margen arriba, derecha, abajo, izquierda
.margin
  margin 1em
  &-t
    margin-top 3em
  &-r
    margin-right 3em
  &-b
    margin-bottom 3em
  &-l
    margin-left 3em
    
.margin3
  margin 3em 0
  
.padding2
  padding 2em
   
.margintop5
  margin-top 5em

// Fondo blanco personalizado
.back-grey
  background-color: $white-about
  

// Boton rosa
// boton verde
// boton blanco a rosa
.button    
  color: $white-proyect;
  background-color: $header-color;
  padding: 1em 3em;
  //margin: 2em 0 4em;
  box-shadow: -2px 4px 13px -3px black;
  border: solid transparent;
  border-radius: 4px;
  transition background-color .3s ease
  &:hover
    background-color #C50E5B
  
  &-contacto
    
    width 207px
    height 70px
    color: $white-proyect;
    background-color: $header-color;
    padding: 1em 3em;
    margin .5em 1em .5em 1em
    box-shadow: -2px 4px 13px -3px black;
    text-transform: uppercase;
    border: solid transparent;
    border-radius: 4px;
    font-weight: 700;
    transition background-color .3s ease
    &:hover
      background-color #C50E5B
  &-green
    
    width 207px
    height 70px
    background-color #92B331
    color: $white-proyect;
    padding: 1em 3em;
    margin .5em 1em .5em 1em
    box-shadow: -2px 4px 13px -3px black;
    border: solid transparent;
    border-radius: 4px;
    transition background-color .3s ease
    text-transform: uppercase;
    font-weight: 700;
    &:hover
      background-color #a0c533
  &-white-pink
    width 207px
    background-color $white-proyect
    color: $header-color;
    padding: 1em 3em;
    margin .5em 1em .5em 1em
    box-shadow: -2px 4px 13px -3px black;
    border: solid transparent;
    border-radius: 4px;
    transition background-color .3s ease
    text-transform: uppercase;
    font-weight: 700;
    &:hover
      background-color #F1ECEE;

.centrar
  margin 0 auto
// Cambia a negrita
.negrita
  font-weight 700
  margin-left .4em


// boton cicular
.button-circle
  display flex
  position absolute
  top .5em
  right .5em
  height 70px
  width 70px
  font-size 3em
  border-radius 350px
  background-color #009DEA
  color $white-proyect
  justify-content: center;
  align-items: center;
  box-shadow: -2px 4px 13px -3px #000;
  transition background-color .3s ease

  &:hover
    background-color $white-proyect
    color #009DEA
    
.jahaziel
  padding .5em
  text-decoration none
  color $white-proyect
  a
    color $white-proyect
.face-jahaziel
  padding 0 .5em
  color $white-proyect


//Cambia de orden a quien posea la clase
@media (max-width: 911px)
  .cambio-de-orden
    order: 1;
    
