//
.fz25
  font-size: 2.5em
.fz16
  font-size: 1.6em
.fz15
  font-size: 1.5em

//Arreglo de titulo de decoracion
.box-flex-title
  display flex
  //text-align center
  align-items center
  &-in
    display block

.title-map
  font-size: 1.6em
  font-weight: 700
  color $color-grey
  text-align: center
  margin 1.7em 0
  display block
  
  

.circulo-map
  border: 4px solid $green-proyect3
  //border-radius: 50%;
  //Tamaño de mapa personalizado height: 485px
  height: 458px
  width: 83%
  box-shadow: 0px 0px 3px 0px $green-proyect3
  overflow: hidden;
  position: relative;
  margin: 2em auto;
  display flex
  justify-content center
  align-items center


//borde de prueba
.borde
  border 1px solid $green-proyect2
//Formulario
.form-header
  padding 0 0 0 0
.border-t-b
  border-top 4px solid $green-proyect3
  border-bottom 4px solid $green-proyect3

.border-t
  border-top 4px solid $green-proyect3



//display
.block
  display block
  width: 100%
  
.inline
  display inline-block
  
.relative
  position: relative;
.absolute
  position: absolute;
  position: absolute;
  bottom: -66px;
  left: -65px;
  color: #009DEA;
@media (max-width: 1273px)
  .absolute
    font-size: 0
.overflow
  overflow: hidden;

.overflow-visible
  overflow: visible;
.phon
  max-width 100%

    
//@media (min-width: 402px)
//  .phon
//    max-width 70%
//Margin top del titulo de cada seccion
.margintop5
  margin-top 2em

.text-section
  color $white-proyect
  margin 1em 0
  text-align left
  background-color: rgba(66, 66, 66, 0.18)
  padding: 1em;
  //text-shadow -1px 1px 17px rgba(0,0,0,0.4)
@media (min-width: 602px)
  .phon
    max-width 50%
  .phon-x
    max-width 100%
  .text-section
    margin 3em 0
  .margintop5
    margin-top 4em

.content-carrusel-deco
  max-width 50%
  
//Cuando llega a este tamaño cambia
//a la propiedad especificada
@media (max-width: 911px)
  .content-carrusel-deco
    max-width 100%



//Estilos de los tab de cubre manteles
*,
*:after,
*:before 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

.tab_container
  width: 100%
  margin o auto
  padding-top 1em
  
.tab, .tab-content
  clear both
  padding-top 10px
  display none

.label-tab
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 50%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
  &--para_3
    font-weight: 700;
    font-size: 18px;
    display: flex;
    float: left;
    width: 33.3333333%;
    padding: .5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center
    background: #f0f0f0;
    height: 5.1em;
    align-items: center;
    justify-content: flex-start;
  &--para_3_colors
    font-weight: 700;
    font-size: 18px;
    display: flex;
    float: left;
    width: 33.3333333%;
    padding: .5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center
    background: #f0f0f0;
    height: 5.1em;
    align-items: center;
    justify-content: flex-start;
    
  &--para_4
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 25%;
    padding: 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
    

//Seleccionar #content#, siempre y cuando esten despues de un #tab1:checked  
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8
  display block
  padding 20px
  background white
  
.tab_container .tab-content p,
.tab_container .tab-content h3
  animation: fadeInScale 0.7s ease-in-out

.tab_container [id^="tab"]:checked + label
  background: #fff;
  //box-shadow: inset 0 0 0 3px $green-proyect3;
  border-bottom 2px solid $green-proyect2
   
  i
    color $green-proyect2

  
.tab_container [id^="tab"]:checked + .label-tab--para_3
  border-bottom 4px solid $green-proyect2


.tab_container [id^="tab"]:checked + .green
  border-bottom 4px solid #00a86b
  .icon-shirt-green
    color #00a86b

.tab_container [id^="tab"]:checked + .pink
  border-bottom 4px solid #E65D8F
  .icon-shirt-pink
    color #E65D8F
  
.tab_container [id^="tab"]:checked + .green-p
  border-bottom 4px solid #B6CC93
  .icon-shirt-green-p
    Color #B6CC93


.pink
.green
.green-p
  text-align center

//label [class^="icon"]
 // font-size: 1.3em;
 // margin: 0 0.4em 0 0;
  

  
/*Media query*/

/*Este media query hace que desaparezca el nombre del tap
cuand el tamaño sea menor a 900px  
Ademas le un un tamaño mas grande al div contenedor
*/
@media only screen and (max-width: 900px)
  label span
    display: none;
  
  
  .tab_container
    width: 100%;
    .label-tab--para_3
      justify-content center
    .label-tab--para_3_colors
      justify-content center


/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


//Fin de los estilos de TAB 

//Estilo de numeros telefonicos
.number
  margin 1em 0
  &-style
    padding .5em
    display inline-block
    font-weight 700

.icon-mobile::before
  color $green-proyect2
  font-size: 1.4em

.icon-phone::before
  color $green-proyect2
  font-size: 1.4em

.icon-facebook::before
  color #009DEA
  font-size: 1.4em
//Titulo decorado
.title-deco
  border-bottom 4px solid #8bc34a
  padding .5em 0

// XXXXXXXXXXXXXX
//Caja de horario
.box-schedule
  color #686868
  width: 100%
  &-bottom
    margin 0
    padding .4em
    background-color $green-proyect
    border-radius 15px 15px 0 0
    color white
    font-weight 700
  &-top
    margin 0
    padding .4em
    background-color $green-proyect
    border-radius 0 0 15px 15px
    color white
    font-weight 700
    
/////
// // Estilos de la caja de imagen en cada seccion


.box-title
  background-image: url(../img/banner_mobiliario.jpg)
  height 750px
  width: 100%
  background-repeat no-repeat
  background-size cover
  -webkit-filter: blur(2px)
  filter: blur(2px)
  position absolute
  top 64px
  z-index: -1
  &-manteleria
    background-image: url(http://www.alquileresbelen.com/images/galerias/_baja/manteles-3.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-meseros
    background-image: url(../img/mes.JPG)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-losaycristaleria
    background-image: url(http://www.estudiahosteleria.com/blog/wp-content/uploads/2012/12/shutterstock_13304368.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1
      
  &-decoracion
    background-image: url(http://www.losgnomoseventos.cl/images/large/7.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-banquetes
    background-image: url(../img/banquete1.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1
/////FIN DEL BLOQUE




//Utilizalo cuando listes cosas y quieres el estilo unorderlist
.listado
  list-style-type: inherit;
  padding-left 1em
  &-wth-margin
    margin-left 4.6em
    
.addres-list
  display flex
  width: 215px
  margin 0 auto
  flex-direction column
  padding .1em 0

//Estilo de lista para mobiliario( Mesas )
.list-table
  font-weight 700
  &--normal
    font-weight normal

//Texto subrayado
//ocupada en <span>
.subrayado
  display inline-block
  border-bottom 2px solid #a41652
//Color blanco
.color-white
  color white

//Peso de fuente
.normal
  font-weight normal

//parrafo
.parra 
  margin 1em .2em
//Texto de FACEBOOK
.link-facebook
  color #43609C

//Link rosa
.link-pink
  color #c50e5b
.link-gris
  color #686868

//Preguntas frecuentes

.content-qa
  color #686868
  display block
  margin 1em 0

.qa
  border-bottom 1px solid #686868
  padding .4em 0
//
a
  text-decoration none
  color white
  
.back-color-grey
  background-color $white-proyect

.pru
  width: 100%
  margin 0 auto
@media (min-width: 911px)
  .pru
    width 80%
@media (min-width: 911px)
  .pru
    width 70%

.box-style
  background-color #FBFBFB
  color $negro-carbon
  text-align left
  box-shadow: -1px 1px 31px -8px rgba(0,0,0,0.4)

.faq
  color $white-proyect
  display inline-block
  border-bottom 3px solid $header-color
  &:hover
    border-color $green-proyect2
    transition border-color .3s ease
    
.faq:hover .icon-question-circle
  color $green-proyect2
  transition color .3s ease

.text-question
  color $white-proyect
  padding 9em 0 0 0
  text-align left
  text-shadow -1px 1px 17px rgba(0,0,0,0.4)


  box-shadow: 1px 1px 6px -3px black;
  &-2
    padding 0 0 9em 0
    color $white-proyect
    text-shadow -1px 1px 17px rgba(0,0,0,0.4)
  &--sin_sombra
    padding 1em


.title-section
  margin 0 auto
  color $white-proyect
  font-size 3em
  text-transform uppercase
  display inline-block
  border-bottom 5px solid $header-color
  text-shadow -1px 1px 17px rgba(0,0,0,0.4)
.title-deco-medium
  display flex
  align-items center
  width: 100%
  cursor: pointer
  background white
  &:hover
    background: rgba(104, 104, 104, 0.05)
    transition background .3s ease
    
.img
  width: 50%
  margin 0
  padding 0

.img60
  width 60%
  margin 0
  padding 0
  &-60
    width 60%
    height 60%
    margin 0
    padding 0
    
.img40
  width 40%
  margin 0
  padding 0
  
.img80
  width 80%
  margin 0
  padding 0
.img100
  width 100%
  margin 0
  padding 0
  &-100
    width 100%
    height 100%
    margin 0
    padding 0
  
  
//margen arriba, derecha, abajo, izquierda
.margin
  margin 1em
  &-t
    margin-top 3em
  &-r
    margin-right 3em
  &-b
    margin-bottom 3em
  &-l
    margin-left 3em
    
.margin3
  margin 3em 0
  &-servicios
    margin 0em 0
      
.margin-products-deco
  margin 0
  
.padding2
  padding 2em



// Fondo blanco personalizado
.back-grey
  background-color: $white-about
  
.movement-slow
    transition: all 700ms ease-out;
    

// Boton rosa
// boton verde
// boton blanco a rosa
.button    
  color: $white-proyect;
  background-color: $header-color;
  padding: 1em 3em;
  //margin: 2em 0 4em;
  box-shadow: -2px 4px 13px -3px black;
  border: solid transparent;
  border-radius: 4px;
  transition background-color .3s ease
  &-back
    color: #c50e5b;
    display inline-block
    margin 0 auto
    text-align: center
    padding: 0 1em;
    //transition: all 700ms ease-out;
    &:hover
      color white
    
  &-trapecio-top
    width: 150px;
    height: 0px;
    background-color: #92b331;
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    border-top: 43px solid #C50E5B;
    position: relative;
    display flex
    color white
    margin 0 auto
    &:hover
      border-top-color #A41652
    
    

  &:hover
    background-color #C50E5B
  
  &-contacto
    
    width 207px
    height 58px
    color: $white-proyect;
    background-color: $header-color;
    padding: 1em 3em;
    margin .5em 1em .5em 1em
    box-shadow: -2px 4px 13px -3px black;
    text-transform: uppercase;
    border: solid transparent;
    border-radius: 4px;
    font-weight: 700;
    transition background-color .3s ease
    display inline-block
    text-align: center
    &:hover
      background-color #C50E5B
  &-green
    display: inline-block
    text-align: center
    width 207px
    height 58px
    background-color #92B331
    color: $white-proyect;
    padding: 1em 3em;
    margin .5em 1em .5em 1em
    box-shadow: -2px 4px 13px -3px black;
    border: solid transparent;
    border-radius: 4px;
    transition background-color .3s ease
    text-transform: uppercase;
    font-weight: 700;
    &:hover
      background-color #a0c533
  &-white-pink
    width 207px
    background-color $white-proyect
    color: $header-color;
    padding: 1em 3em;
    margin .5em 1em .5em 1em
    box-shadow: -2px 4px 13px -3px black;
    border: solid transparent;
    border-radius: 4px;
    transition background-color .3s ease
    text-transform: uppercase;
    font-weight: 700;
    &:hover
      background-color #F1ECEE;

.centrar
  margin 0 auto
  
//Estilo de fuente 
// Cambia a negrita
.negrita
  font-weight 700
  margin-left .4em
.negritas
  font-weight 700
  
.cursiva
  font-style italic

// boton cicular
.button-circle
  display flex
  position absolute
  top .5em
  right .5em
  height 70px
  width 70px
  font-size 3em
  border-radius 350px
  background-color #009DEA
  color $white-proyect
  justify-content: center;
  align-items: center;
  box-shadow: -2px 4px 13px -3px #000;
  transition background-color .3s ease

  &:hover
    background-color $white-proyect
    color #009DEA
    
.jahaziel
  padding .5em
  text-decoration none
  color $white-proyect
  a
    color $white-proyect
.face-jahaziel
  padding 0 .5em
  color $white-proyect


//Cambia de orden a quien posea la clase
@media (max-width: 911px)
  .cambio-de-orden
    order: 1;
    
//COLORES

.color-grey
  color $color-grey

.your-image-class
  cursor: url('../img/plus_cursor.png') 25 25, auto