div(class="derechos") © 2016 Arias Banquetes & Decoración. Todos los derechos reservados.
	div(class="jahaziel") Desarrollado por
		a(href="https://www.facebook.com/Jahaziel.Ortiz.Barrios")
			span(class="negrita") Jahaziel Ortiz Barrios
			span(class="face-jahaziel icon-facebook")
		
		