.carrusel
	background-color white
	margin-bottom -5px

.title
	margin 1em 0 .5em 0
	text-align: center
	font-weight 700
	text-transform uppercase
	//text-decoration underline
	background-color #a1ca28
	font-size: 1.75em
	color white
	padding .7em
	margin 0
	//border-radius: 0 0 10px 10px;
	box-shadow 0px 4px 38px -10px rgba(0,0,0,0.4)

	&-question
		margin 1em 0 .5em 0
		text-align: center
		font-weight 700
		text-transform uppercase
		//text-decoration underline
		background-color #c50e5b
		font-size: 1.2em
		color white
		padding .7em
		margin 0
		border-radius: 0px 0px 20px 20px;
		box-shadow 0px 4px 38px -10px rgba(0,0,0,0.4)
	&-question2
		margin 1em 0 .5em 0
		text-align: left
		//text-decoration underline
		background-color $green-proyect
		font-size: .9em
		color white
		padding .7em
		margin 0
		border-radius: 0px 0px 20px 20px;
		box-shadow 0px 0px 38px -10px rgba(0,0,0,0.4)
.subtitle
	margin 1.5em
	font-weight normal
	text-align: center
	color rgba(0, 0, 0, .8)
	display block
	font-weight: 700
	
	
.content
	background-color $white-project
	margin 0 auto 3em auto
	display flex
	width 96%
	flex-wrap wrap
	justify-content space-around
	&-box
		margin 1%
		background-color $white-project
		width 100%
		//width 31%
		min-width 238px
		//min-width 350px
		display flex 
		
		&:hover .flex .circulo
			background #92b331
			.circulo-a
				background #92b331
				color white

@media (min-width: 912px)
	.content
		&-box
			width 31%

.flex
	display flex
	color #92b331
	margin-top .5em
	min-width 100px
	
	.circulo
		transition all .2s ease
		box-shadow 0px 4px 38px -10px rgba(0,0,0,0.4)
		height 80px
		width 80px
		border-radius 40px
		display flex
		align-items center
		justify-content center
		background-color white
		&-a
			height 73px
			width 73px
			border 2px solid $white-proyect
			border-radius 36.5px
			display flex
			align-items center
			justify-content center
			background-color white
			font-size .7em
		
		&:hover
			background-color #92b331
		
			.circulo-a
				background #92b331
				color white
			
		

	&-a
		color #2d2b2b
		margin-left 1em
		display flex
		flex-direction column
		text-align left
		&--title
			color #2d2b2b
		&--p
			margin-top .5em
			display flex
			text-align left
			//width 190px

@media (max-width: 911px)
	.content
		flex-direction column
		margin 0 auto

@media (max-width: 400px)
	.flex-a--p
		width 190px
		

//Solo cambie los dos ultimos media queries