section(class="back-color-grey")
	article(class="container-lp margin-b" id="caracteristicas")


		h3(class="subtitle") Nuestros clientes nos definen por nuestra:

		
		div(class="content")
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-experiencia")
				
				div(class="flex-a")
					h3(class="flex-a--title") Experiencia
					p(Class="flex-a--p") Tenemos 28 años de experiencia que nos respaldan e incontables clientes satisfechos.
			
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
							div(class="circulo-a")
								i(class="icon-puntualidad")
				
				div(class="flex-a")
					h3(class="flex-a--title") Puntualidad
					p(Class="flex-a--p")  Siempre puntuales. Todo lo que se programa se cumple, usted es el que manda.
			
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-innova")
				
				div(class="flex-a")
					h3(class="flex-a--title") Innovación
					p(Class="flex-a--p")  Siempre haciendo nuevas cosas, para que tengas muchas opciones para escoger lo que mejor vaya con tu estilo y tipo de evento.
			
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-eficiencia")
				
				div(class="flex-a")
					h3(class="flex-a--title") Eficiencia
					p(Class="flex-a--p")  Trabajamos siempre con orden para que las cosas se hagan bien y de manera mas ágil
			
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-experiencia-dos")
				
				div(class="flex-a")
					h3(class="flex-a--title") Limpieza
					p(Class="flex-a--p") Nuestros artículos y nuestros servicios son cuidadosamente revisados manteniendo una higiene adecuada para ti.

			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-seriedad")
				
				div(class="flex-a")
					h3(class="flex-a--title") Seriedad
					p(Class="flex-a--p") Cada evento es un reto pero le ponemos la seriedad que nuestro trabajo implica.