section(class="back-color-grey")
	article(class="container-lp" id="caracteristicas")

		h3(class="subtitle") Cualidades que nos hacen unicos

		
		div(class="content")
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-experiencia-dos")
				
				div(class="flex-a")
					h2(class="flex-a--title") Experiencia
					p(Class="flex-a--p")  Tenemos años de experiencia que nos respaldan, haciendo noches inolvidables
			
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
							div(class="circulo-a")
								i(class="icon-rigurusidad")
				
				div(class="flex-a")
					h2(class="flex-a--title") Rigurosidad
					p(Class="flex-a--p")  El compromiso con nuestros clientes es lo más importante, por lo que nosotros nos encargamos de todos los detalles
			
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-lupa")
				
				div(class="flex-a")
					h2(class="flex-a--title") Innovacion
					p(Class="flex-a--p")  Siempre haciendo nuevas cosas, para que tengas muchas opciones para escojer lo que mejor vaya con tu estilo y tipo de evento
			
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-eficiencia")
				
				div(class="flex-a")
					h2(class="flex-a--title") Eficiencia
					p(Class="flex-a--p")  Trabajamos siempre con orden para que las cosas se hagan bien y de manera mas agíl
			
			div(class="content-box")
				div(class="flex")
					div(class="circulo")
						div(class="circulo-a")
							i(class="icon-map-pin-fill")
				
				div(class="flex-a")
					h2(class="flex-a--title") Localizacíon
					p(Class="flex-a--p")  Localizados en Jaltipan de Morelos Veracruz, Colonia Centro Av. Morelos
