
.size-img
  width: 100%


.size-image
  width: 100%
.title-brand
  font-size 1.2em
  &--bd
    font-size .8em
    margin-left .5em
    font-style italic

.navbar {
  background: #A41652;
  .toggle, 
  .brand {
    display: flex;
    align-items center
  }
  .link {
    display: flex;
    //width: 100%
    //align-items: stretch; hoy
    //text-align: center;
    //padding: 1.5em;
    text-decoration: none;
    background: $header-color;
    color: white;
    
    padding: 1.7em 0 1em 0;
    flex-grow: 1;
    justify-content: center;
    
    border-bottom 3.2px solid transparent

    &:hover {
      background: $rosa-secundario;
      border-bottom: 3.2px solid white
    }
  }
  .brand {
    text-align: center;
    color: white;
    display flex
    margin-right 4em
  }
  .toggle {
    position absolute;
    right 0;
    top  10px;
    padding: 1em;
    color: white;
    vertical-align: middle;
    font-size: 1.2em
    cursor: pointer;
  }
}

@media (min-width: 62.5em) {
    .navbar {
      display: flex;
      .brand{
        margin-right: 12em;
      }
      .left,.right {
        display: flex;
        //align-items center hoy
        flex: 1;
      }
      //modificado hoy
      //.link {
          //width: auto;
      //}
      .right {
        align-items: stretch;


        
      }
      .left {
        justify-content: center;
      }
      .toggle {
        display: none;
      }
    }
}

//En la clase left hace que cuando llegue a 1020px
// se cambie de direccion la caja
@media (max-width: 1020px) {
  .left{
    flex-direction: column;
  }
  }

.navbar {
  div {
    display: none;
    @media (min-width: 62.5em) {
      display: flex;
      //align-items center
      
    }
  }
}

@media (max-width: 62.5em) {
 .navbar{
  .right{
    .link{
    border-bottom 1px solid transparent
//    &:hover{
//      border-bottom 1px solid white

//    }
    }
  }
 }
}


@media (max-width: 1040px) {
.navbar.active {
  .toggle {
    background: $header-color;
    color: white;
  }
  div {
    display: flex;
  }

}
}