header(id="header")
	nav(class="navbar")
		a(href="/" class="brand")
			figure(class="")
				img(src="img/Logo-verde.png", alt="", height="70px")
			h1(class="title-brand") Arias
				span(class="title-brand--bd icon-home") Banquetes & Decoración

		div(href="" class="toggle")
			i(class="fa fa-bars")

		div(class="right")
			a(href="/#servicios" class="link") Servicios
		div(class="right")

			a(href="/#portafolio" class="link") Portafolio
		div(class="right")

			a(href="paquetes.html" class="link") Paquetes

		div(class="right")
			a(href="faq.html" class="link" title="Preguntas frecuentes") PF ¿?
		div(class="right")
			a(href="acercade.html" class="link" title="Acerca de nosotros") Acerca de
		div(class="right")
			a(href="contacto.html" class="link") Contacto
				
