header(id="header")
	nav(class="navbar")
		a(href="/" class="brand")
			figure(class="")
				img(src="img/Logo-verde.png", alt="", height="70px")
			h1(class="title-brand") Arias
				span(class="title-brand--bd icon-home") Banquetes & Decoracion

		div(href="" class="toggle")
			i(class="fa fa-bars")

		div(class="right")
			a(href="/#servicios" class="link") Servicios
		div(class="right")

			a(href="/#portafolio" class="link") Portafolio
		div(class="right")

			a(href="#paquetes" class="link") Paquetes

		div(class="right")
			a(href="#FAQ" class="link") ¿Que necesito...?
		div(class="right")
			a(href="#about" class="link") Acerca de
		div(class="contacto experimento")
			div(class="link") Contacto
				div(class="vuela")
					span(class="icon-mobile contact")
						a(href="tel:+9222561694") 9222561694
					span(class="icon-phone contact")
						a(href="tel:+9222644586") 9222644586
					span(class="icon-facebook-menu contact")
						a(class="whithout-line" target="_blank" href="https://www.facebook.com/profile.php?id=100009676535122") facebook
