header
	nav(class="navbar")
		a(href="/" class="brand")
			figure(class="")
				img(src="img/Logo-verde.png", alt="", height="70px")
			h1(class="title-brand") Arias
				span(class="title-brand--bd") Banquetes & Decoracion

		div(href="" class="toggle")
			i(class="fa fa-bars")

		div(class="right")
			a(href="/#servicios" class="link") Servicios
		div(class="right")

			a(href="/#portafolio" class="link") Portafolio
		div(class="right")

			a(href="#paquetes" class="link") Paquetes

		div(class="right")
			a(href="#FAQ" class="link") ¿Que necesito...?
		div(class="right")
			a(href="#about" class="link") Acerca de
		div(class="right")
			a(href="#" class="link") Contacto


