

.box-title
  background-image: url(../img/banner_mobiliario.jpg)
  height 750px
  width: 100%
  background-repeat no-repeat
  background-size cover
  -webkit-filter: blur(2px)
  filter: blur(2px)
  position absolute
  top 64px
  z-index: -1
  &-manteleria
    background-image: url(../img/manteleria.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    -webkit-filter: blur(2px)
    filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-meseros
    background-image: url(../img/meseros.JPG)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    -webkit-filter: blur(2px)
    filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-losaycristaleria
    background-image: url(../img/losaycristaleria.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1
      
  &-decoracion
    background-image: url(../img/decoracion.JPG)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-banquetes
    background-image: url(../img/banquete1.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1
      

.bgc
  height 90px
  min-width 90px
  width  90px
  min-height 90px
  background-color: red
  display inline-block


.title-tiempos
  background-color: #E4E4E4

.banquete
  box-sizing border-box
  width 100%
  margin 0 auto
  box-shadow 0 0 5px rgba(0,0,0,0.4)
  position relative
  min-width 200px
  height 100px
  

.product
  box-sizing border-box
  width 100%
  margin 0 auto
  box-shadow 0 0 5px rgba(0,0,0,0.4)
  position relative
  min-width 280px
  
  figure
    width 100%
    img
      width: 100%
  &-name
    //border-left .4em solid $green-proyect2
    width 100%
    display inline-block
    padding .2em 0
    text-align center
    border-left .4em solid $green-proyect2
    //overflow hidden
    //height 30px
    &-hide
      width 100%
      display inline-block
      padding .2em 0
      text-align center
      border-left .4em solid $green-proyect2
            
    
  &:hover
    box-shadow 0 0 15px rgba(0,0,0,0.4)
.product:hover .product-name
  border-color $header-color

.product:hover .product-name-hide
  border-color $header-color
  //height: 100px

.title-deco-mas
  margin 4em 0 5em 0


.plus-deco  
  display block
  position: absolute
  font-size 1.5em
  top 0em
  left .8em
  

@media (min-width: 911px)
  .product
    width 60%
    

    

.phon
  max-width 100%

    
//@media (min-width: 402px)
//  .phon
//    max-width 70%

@media (min-width: 602px)
  .phon
    max-width 50%
  .phon-x
    max-width 80%

