
//Componente de cajas de +productos

.catalogo_container
  width: 100%
  margin 0 auto
  background-color white
  position relative
  overflow hidden
  margin 1em 0
  color $color-grey
  font-weight: 700
  display inline-block
  border-radius 3px 0 0 3px
  box-shadow: 0px 0px 30px rgba(0,0,0,0.08);
  &:hover
    box-shadow: 0px 0px 20px rgba(0,0,0,0.22);
  

.checkbox, .checkbox-content
  clear both
  padding-top 10px
  display none
  
.label-checkbox
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  width: 127px;
  //padding: 1.1px;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: white
  //margin: .1em;
  
.title-deco-show
  color $color-grey
  font-weight: 700
  margin-left 1em
  display: block;
  border-bottom: 1px solid rgba(104, 104, 104, 0.18);
  padding: .85em;
  margin: 0;
  
    
  
.label-background-on
    background-color $green-proyect3
    width: 48%
    display inline-block
    padding .44em 0
    
.label-background-off
    background-color #f2f2f2
    width: 48%
    display inline-block
    padding .44em 0
    

#check1:checked ~ #content-check1,
#check2:checked ~ #content-check2,
#check3:checked ~ #content-check3,
#check4:checked ~ #content-check4,
#check5:checked ~ #content-check5,
#check6:checked ~ #content-check6,
#check7:checked ~ #content-check7,
#check8:checked ~ #content-check8
  display block
  padding 20px
  background white
.catalogo_container .checkbox-content p,
.catalogo_container .checkbox-content h3
  animation: fadeInScale 0.7s ease-in-out
  
.catalogo_container [id^="check"]:checked + label
  background-color #f2f2f2
  .label-background-off
    background $green-proyect3
    .milo
      color white
  
  .label-background-on
    background #f2f2f2
    .kilo
      color white
    

.kilo
  color white
.milo
  color white
.bgc
  height 90px
  min-width 90px
  width  90px
  min-height 90px
  background-color: red
  display inline-block


.banquete
  &,
  &--menu
    box-sizing border-box
    width 100%
    margin 0 auto
    //box-shadow 0 0 5px rgba(0,0,0,0.4)
    position relative
    min-width 200px
    //height 130px
    border-radius 15px 15px 2px 2px
    margin-top 1em
    margin-bottom 1em
    //box-shadow: 2px 2px 20px #ccc;
    display flex
    flex-direction column
    .listado
      margin-left .5em
      margin-top: .5em
      color $color-grey
      
    &-title
      &,
      &--verde,
      &--rosa
        background-color: #E4E4E4
        padding .5em 0
        box-shadow: 0px 2px 20px #ccc
        text-align: center
        //border-left 6px solid white
        //border-left 6px solid white
         
      &--verde
        background-color: $green-proyect3
        color white
        border-radius 15px 15px 0px 0px
        
      &--rosa
        background-color: $header-color2
        color white
        border-radius: 0 0 100px 100px;
        //cursor pointer
        &:hover
          box-shadow: 2px 2px 20px #bbb;
          transition border-color, height 2s ease
  
  &
    height 130px
    .listado
      margin auto .5em auto .5em
  &--menu
    border: 1px solid rgba(104, 104, 104, 0.11)
 /*
    Es parte la accion en main.js para hacer esconder la lista
      de cada menú
    &--menu
    box-shadow 0 0 5px transparent
    .listado
      display none
*/
      

///  

.centrar
  margin 0 auto


      
  
  &-content
    display none

.product.activo
  .toggle
    background: $header-color;
    color: white;
    

  div
    display: flex;
  figure
    display: flex;

.activo-0-height
  box-shadow 2px 2px 20px #ccc;
  
///FIN DEL BLOQUE
.title-deco-mas
  margin 4em 0 5em 0


.plus-deco  
  display block
  position: absolute
  font-size 1.5em
  top 0em
  left .8em
  

