
//Prueba de un nuevo componente





//
.fz25
  font-size: 2.5em
//Arreglo de titulo de decoracion
.box-flex-title
  display flex
  //text-align center
  align-items center
  &-in
    display block

.box-title
  background-image: url(../img/banner_mobiliario.jpg)
  height 750px
  width: 100%
  background-repeat no-repeat
  background-size cover
  -webkit-filter: blur(2px)
  filter: blur(2px)
  position absolute
  top 64px
  z-index: -1
  &-manteleria
    background-image: url(http://www.alquileresbelen.com/images/galerias/_baja/manteles-3.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-meseros
    background-image: url(../img/meseros.JPG)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    -webkit-filter: blur(2px)
    filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-losaycristaleria
    background-image: url(http://www.estudiahosteleria.com/blog/wp-content/uploads/2012/12/shutterstock_13304368.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1
      
  &-decoracion
    background-image: url(http://www.losgnomoseventos.cl/images/large/7.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1

  &-banquetes
    background-image: url(../img/banquete1.jpg)
    height 750px
    width: 100%
    background-repeat no-repeat
    background-size cover
    //-webkit-filter: blur(2px)
    //filter: blur(2px)
    position absolute
    top 64px
    z-index: -1
      

.bgc
  height 90px
  min-width 90px
  width  90px
  min-height 90px
  background-color: red
  display inline-block


.title-tiempos
  background-color: #E4E4E4

.banquete
  box-sizing border-box
  width 100%
  margin 0 auto
  box-shadow 0 0 5px rgba(0,0,0,0.4)
  position relative
  min-width 200px
  height 100px


///  

.centrar
  margin 0 auto


.product
  display flex
  flex-direction column
  width: 100%
  align-items center
  border-bottom 4px solid #8bc34a
  border-top 4px solid #8bc34a
  border-left 1px solid #8bc34a
  border-right 1px solid #8bc34a
  box-shadow: 2px 2px 20px #ccc;
  cursor: pointer;
  transition box-shadow .2s ease
  border-radius 5px
  
  
  margin 1.5em 0
  &:hover 
    border-top-color $green-proyect3
    border-bottom-color $green-proyect3
    box-shadow: 2px 2px 20px #bbb;
    z-index: 1
    transition border-color 2s ease
    .icon-eye-plus
      color $green-proyect3
      transition color .3s ease

  
  &-content
    display none

.product.activo
  .toggle
    background: $header-color;
    color: white;
    

  div
    display: flex;
  figure
    display: flex;

  
///FIN DEL BLOQUE
.title-deco-mas
  margin 4em 0 5em 0


.plus-deco  
  display block
  position: absolute
  font-size 1.5em
  top 0em
  left .8em
  

