article(class="container--servicios" id="container--servicios")
	
	p(class="subtitle") Estos son los servicios que ofrecemos, todos ellos los mas completos, con diferentes productos en Decoración y Banqueteria

		div(class="servicios" id="servicios")

			div(class="box")
				span(class="icon-cont")
					i(class="icon-mobiliario")
				
				h3 Mobiliario
				
				ul(class="hidden")
					li Mesas
					li Sillas
					li Sillas infantiles
					li Lonas
					li ...
					a(href="mobiliario.html" class="seeMore") Ver más
				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="icon-manteleria-dos") 

				
				h3 Mantelería
				
				ul(class="hidden")
					li manteles
					li cubres
					li chemise's
					li moños
					li servilletas
					a(href="manteleria.html" class="seeMore") Ver más

					
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="small-icon icon-cristaleria")
					i(class="small-icon icon-plaque")

				
				h3 Cristaleria y Losa
				
				ul(class="hidden")
					li platos
					li platos base
					li vasos
					li copas
					li plaqué
					a(href="cristaleria.html" class="seeMore") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
				
			div(class="box")
				span(class="icon-cont")
					i(class="mini-icon icon-decoracion")
					i(class="mini-icon icon-decoracion-add")
					i(class="mini-icon icon-decoracion-flower")


				
				h3 Decoración
				
				ul(class="hidden")
					li Jardineras
					li Entradas
					li Mesa de honor
					li Techo
					li Arreglo de iglesis
					a(href="decoracion.html" class="seeMore") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -

			div(class="box")
				span(class="icon-cont")
					i(class="icon-banquetes")
				
				h3 Banquetes
				
				ul(class="hidden")
					li Entremes ó Crenas
					li Plato fuerte: pollo
					li Plato fuerte: cerdo
					li Ensalada ó Pastas
					li ...
					a(href="banquetes.html" class="seeMore") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="icon-meseros") 
				
				h3 Meseros
				
				ul(class="hidden")
					li Capitanes
					li Charoleros
					li Meseros
					li Edecanes
					li ...
					a(href="meseros.html" class="seeMore") Ver más

					
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			
	
	h2(class="title-question") ¿Ya viste todo lo que tenemos para ti?
	
	p(class="parra") 
		span(class="negrita") ¿Tienes dudas? 
		span ve a tu nuestra sección de 
		a(href="", class="link-pink") preguntas frecuentes 
		span ó 
		a(href="", class="link-pink") contactanos
		span , aclararemos todas tus dudas sin ningun compromiso.

	p(class="parra") Bien, ya hemos aclarado todas tus dudas llamanos y aparta tu fecha con un 25% del monto total.
	
	div(class="row center middle column margin3")
		div(class="phon col-6 end")
			button(class="button-green") Ver paquetes
		div(class="phon col-6 start")
			button(class="button-contacto") Contacto
