article(class="container--servicios")
	div(class="medium")

	h2(class="margin-t center") Servicios
	p(class="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quaerat ab aspernatur placeat consequuntur vitae quis ex, eligendi culpa sed nostrum, harum commodi ipsam aliquam. Officiis consequuntur odio, delectus ratione.

		div(class="servicios" id="servicios")

			div(class="box")
				span(class="icon-cont")
					i(class="icon-mobiliario")
				
				h3 Mobiliario
				
				ul(class="hidden")
					li Mesas
					li Sillas
					li Sillas infantiles
					li Lonas
					li ...
					a(href="mobiliario.html" class="seeMore") Ver más
				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="icon-manteleria-dos") 

				
				h3 Manteleria
				
				ul(class="hidden")
					li manteles
					li cubres
					li chemise's
					li moños
					li servilletas
					a(href="manteleria.html" class="seeMore") Ver más

					
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="small-icon icon-cristaleria")
					i(class="small-icon icon-plaque")

				
				h3 Cristaleria y Plaqué
				
				ul(class="hidden")
					li platos
					li platos base
					li vasos
					li copas
					li plaqué
					a(href="cristaleria.html" class="seeMore") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
				
			div(class="box")
				span(class="icon-cont")
					i(class="mini-icon icon-decoracion")
					i(class="mini-icon icon-decoracion-add")
					i(class="mini-icon icon-decoracion-flower")


				
				h3 Decoración
				
				ul(class="hidden")
					li Jardineras
					li Entradas
					li Mesa de honor
					li Techo
					li Arreglo de iglesis
					a(href="decoracion.html" class="seeMore") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -

			div(class="box")
				span(class="icon-cont")
					i(class="icon-banquetes")
				
				h3 Banquetes
				
				ul(class="hidden")
					li Entremes ó Crenas
					li Plato fuerte: pollo
					li Plato fuerte: cerdo
					li Ensalada ó Pastas
					li ...
					a(href="banquetes.html" class="seeMore") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="icon-meseros") 
				
				h3 Meseros
				
				ul(class="hidden")
					li Capitanes
					li Charoleros
					li Meseros
					li Edecanes
					li ...
					a(href="meseros.html" class="seeMore") Ver más

					
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			
	
	h2(class="title") ¿Ya viste todo lo que tenemos para ti?
	p(class="parra")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, et, rerum pariatur, sapiente minus esse iusto amet molestias quos qui tenetur nam minima molestiae ratione. Dolore dolores ipsa incidunt placeat! ipsum dolor sit amet, consectetur adipisicing elit. Porro 

	p(class="parra") quas temporibus, id, odit obcaecati accusantium sint corporis possimus officia nesciunt quae, dignissimos reprehenderit maxime dolores laudantium impedit repellendus. Sunt!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam corporis sapiente qui hic temporibus sit nihil odit, dolorem asperiores maxime soluta, repellendus impedit, consequatur nemo dolore. Quae delectus, ex. Dolores.
	
	div(class="row center middle column margin3")
		div(class="phon col-6 end")
			button(class="button-green") Ver paquetes
		div(class="phon col-6 start")
			button(class="button-contacto") Contacto
