article(class="container--servicios")
	div(class="medium")

	h2(class="margin-t center") Servicios
	p(class="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quaerat ab aspernatur placeat consequuntur vitae quis ex, eligendi culpa sed nostrum, harum commodi ipsam aliquam. Officiis consequuntur odio, delectus ratione.

		div(class="servicios" id="servicios")

			div(class="box")
				span(class="icon-cont")
					i(class="fa fa-rocket")
				
				h3 Mobiliario
				
				ul(class="hidden")
					li Mesas
					li Sillas
					li Lonas
					a(href="mobiliario.html") Ver más
				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="fa fa-edit") 
				
				h3 Manteleria
				
				ul(class="hidden")
					li sillas
					li Mesas
					li Lonas
					a(href="manteleria.html") Ver más

					
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="fa fa-desktop")
				
				h3 Cristaleria
				
				ul(class="hidden")
					li sillas
					li Mesas
					li Lonas
					a(href="cristaleria.html") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
				
			div(class="box")
				span(class="icon-cont")
					i(class="fa fa-coffee")
				
				h3 Decoracion
				
				ul(class="hidden")
					li sillas
					li Mesas
					li Lonas
					a(href="decoracion.html") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -

			div(class="box")
				span(class="icon-cont")
					i(class="fa fa-rocket")
				
				h3 Banquetes
				
				ul(class="hidden")
					li Mesas
					li Sillas
					li Lonas
					a(href="banquetes.html") Ver más

				
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			div(class="box")
				span(class="icon-cont")
					i(class="fa fa-edit") 
				
				h3 Meseros
				
				ul(class="hidden")
					li sillas
					li Mesas
					li Lonas
					a(href="meseros.html") Ver más

					
				a(class="expand")
					span(class="plus") +
					span(class="minus") -
					
			
	
	h2(class="title") ¿Ya viste todo lo que tenemos para ti?
	p(class="parra")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, et, rerum pariatur, sapiente minus esse iusto amet molestias quos qui tenetur nam minima molestiae ratione. Dolore dolores ipsa incidunt placeat! ipsum dolor sit amet, consectetur adipisicing elit. Porro 

	p(class="parra") quas temporibus, id, odit obcaecati accusantium sint corporis possimus officia nesciunt quae, dignissimos reprehenderit maxime dolores laudantium impedit repellendus. Sunt!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam corporis sapiente qui hic temporibus sit nihil odit, dolorem asperiores maxime soluta, repellendus impedit, consequatur nemo dolore. Quae delectus, ex. Dolores.
	
	div(class="row center middle column margin3")
		div(class="phon col-6 end")
			button(class="button-green") Ver paquetes
		div(class="phon col-6 start")
			button(class="button-contacto") Contacto
