article(class="container--servicios" id="container--servicios")
	div(class="servicios")

		div(class="box")
			span(class="icon-cont")
				i(class="icon-mobiliario")
			
			h3 Mobiliario
			
			ul(class="hidden")
				li Mesas
				li Sillas
				li Sillas infantiles
				li Lonas
				li ...
				a(href="mobiliario.html" class="seeMore") Ver más
			
			a(class="expand")
				span(class="plus") +
				span(class="minus") -
				
		div(class="box")
			span(class="icon-cont")
				i(class="icon-manteleria-dos") 

			
			h3 Mantelería
			
			ul(class="hidden")
				li Manteles
				li Cubre mantel
				li Cubre silla
				li Moños
				li ...
				a(href="manteleria.html" class="seeMore") Ver más

				
			a(class="expand")
				span(class="plus") +
				span(class="minus") -
				
		div(class="box")
			span(class="icon-cont")
				i(class="small-icon icon-cristaleria")
				i(class="small-icon icon-plaque")

			
			h3 Cristaleria y Loza
			
			ul(class="hidden")
				li Platos
				li Vasos
				li Copas
				li plaqué
				li ...
				a(href="cristaleria.html" class="seeMore") Ver más

			
			a(class="expand")
				span(class="plus") +
				span(class="minus") -
			
		div(class="box")
			span(class="icon-cont")
				i(class="mini-icon icon-decoracion")
				i(class="mini-icon icon-decoracion-add")
				i(class="mini-icon icon-decoracion-flower")


			
			h3 Decoración
			
			ul(class="hidden")
				li Jardineras
				li Entradas
				li Mesa de honor
				li Arreglo de iglesias
				li ...
				a(href="decoracion.html" class="seeMore") Ver más

			
			a(class="expand")
				span(class="plus") +
				span(class="minus") -

		div(class="box")
			span(class="icon-cont")
				i(class="icon-banquetes")
			
			h3 Banquetes
			
			ul(class="hidden")
				li Entremés y Crenas
				li Plato fuerte: pollo
				li Plato fuerte: cerdo
				li Ensalada y Pastas
				li ...
				a(href="banquetes.html" class="seeMore") Ver más

			
			a(class="expand")
				span(class="plus") +
				span(class="minus") -
				
		div(class="box")
			span(class="icon-cont")
				i(class="icon-meseros") 
			
			h3 Meseros
			
			ul(class="hidden")
				li Capitanes
				li Charoleros
				li Meseros
				li Edecanes
				li ...
				a(href="meseros.html" class="seeMore") Ver más

				
			a(class="expand")
				span(class="plus") +
				span(class="minus") -
				
		
