article(class="container--portafolio")
	div(class="portafolio")
		//a(href="#caracteristicas" class="button-back icon-triangle-up-custom")
		//a(href="#portafolio" class="button-back icon-triangle-down-custom")

		h3(class="portafolio-title" id="portafolio") Portafolio
		h4(class="portafolio-sub") Puedes ver en que eventos hemos estado presentes ultimamente

		nav(class="product-view")
			i(class="fa fa-th btn-gallery active")
			i(class="fa fa-list btn-list")

		div(class="portafolio-content")
			section(class="products gallery")
				figure(class="")
					img(class="your-image-class intense" data-title="XV años" data-caption="Montserrat Santiago Lazaro" src="/img/portafolio/Portafolio1.jpg", alt="Decoración de salon, tema: carnaval")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Montserrat Santiago Lazaro
						span(class="block ") Sabado 7 de febrero 2016
						span(class="block cursiva") Tema:
							span(class="negrita") Carnaval

				figure(class="")
					img(class="your-image-class intense"  data-title="XV años" data-caption="Blanca" src="/img/portafolio/Portafolio2.jpg", alt="Decoración de salon con tematica de París")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Blanca
						span(class="block ") Martes 9 de febrero de 2016
						span(class="block cursiva") Tema:
							span(class="negrita") Londres

				figure(class="")
					img(class="your-image-class intense" data-title="Boda" data-caption="Maria Bahena y Eduardo Escamilla" src="/img/portafolio/Portafolio3.jpg", alt="Decoración de salon con tematica de Londres")
					figcaption
						span(class="parra negritas subrayado") Boda
						span(class="block negrita") Maria Bahena y Eduardo Escamilla
						span(class="block ") Sabado 22 de agosto de 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado

				figure(class="")
					img(class="your-image-class intense" data-title="Boda" data-caption="Tema Blanco y negro" src="/img/portafolio/Portafolio4.jpg", alt="Decoración de salon personalizado")
					figcaption
						span(class="parra negritas subrayado") Boda
						span(class="block negrita") ---
						span(class="block ") Sabado 14 de noviembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Blanco y negro

				figure(class="")
					img(class="your-image-class intense" data-title="Boda" data-caption="Jesus y Cesia" src="/img/portafolio/Portafolio5.jpg", alt="Decoración de iglesia")
					figcaption
						span(class="parra negritas subrayado") Boda
						span(class="block negrita") Jesus y Cesia
						span(class="block ") Domingo 19 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado

				figure(class="")
					img(class="your-image-class intense" data-title="Boda" data-caption="Blanca y Angelo" src="/img/portafolio/Portafolio6.jpg", alt="Decoración de salon personalizado")
					figcaption
						span(class="parra negritas subrayado") Boda
						span(class="block negrita") Blanca y Angelo
						span(class="block ") Miercoles 23 de diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado

				figure(class="")
					img(class="your-image-class intense" data-title="Boda" data-caption="" src="/img/portafolio/Portafolio7.jpg", alt="Decoración de salon para Graduación")
					figcaption
						span(class="parra negritas subrayado") Boda
						span(class="block negrita") ---
						span(class="block ") Sabado de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado

				figure(class="")
					img(class="your-image-class intense" data-title="XV años" data-caption="" src="/img/portafolio/Portafolio8.jpg", alt="Decoración de salon personalizado")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") ---
						span(class="block ") Sabado 17 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") París

				figure(class="")
					img(class="your-image-class intense" data-title="XV años" data-caption="Tema: Los Oscar" src="/img/portafolio/Portafolio9.jpg", alt="Decoración de salon con tematica de los Oscar's")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") ---
						span(class="block ") Sabado 21 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Oscar's

				figure(class="")
					img(class="your-image-class intense" data-title="XV años" data-caption="" src="img/portafolio/Portafolio10.jpg", alt="Decoración de salon con tematica de Carnaval")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Sin nombre
						span(class="block ") Sabado 1 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado




				
		
		//a(href="#container--servicios" class="button-back icon-triangle-down-custom")
		//a(href="#portafolio" class="button-back icon-triangle-up-custom")