article(class="container--portafolio")
	div(class="portafolio")
		//a(href="#caracteristicas" class="button-back icon-triangle-up-custom")
		//a(href="#portafolio" class="button-back icon-triangle-down-custom")

		h3(class="portafolio-title" id="portafolio") Portafolio
		h4(class="portafolio-sub") Puedes ver en que eventos hemos estado presentes ultimamente

		nav(class="product-view")
			i(class="fa fa-th btn-gallery active")
			i(class="fa fa-list btn-list")

		div(class="portafolio-content")
			section(class="products gallery")
				figure(class="")
					img(class="your-image-class intense" data-title="XV años" data-caption="Montserrat Santiago Lazaro" src="/img/portafolio/Portafolio1.JPG", alt="Decoración de salon, tema: carnaval")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Montserrat Santiago Lazaro
						span(class="block ") Sabado 7 de febrero 2016
						span(class="block cursiva") Tema:
							span(class="negrita") Carnaval

				figure(class="")
					img(class="your-image-class intense" src="/img/portafolio/Portafolio2.JPG", alt="Decoración de salon con tematica de París")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Sin nombre
						span(class="block ") Sabado 17 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") París

				figure(class="")
					img(class="your-image-class intense" src="/img/portafolio/Portafolio3.JPG", alt="Decoración de salon con tematica de Londres")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Blanca
						span(class="block ") Martes 9 de febrero 2016
						span(class="block cursiva") Tema:
							span(class="negrita") Londres

				figure(class="")
					img(class="your-image-class intense" src="/img/portafolio/Portafolio4.JPG", alt="Decoración de salon personalizado")
					figcaption
						span(class="parra negritas subrayado") Boda
						span(class="block negrita") Sin nombre
						span(class="block ") Jueves 11 de Febrero 2016
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado

				figure(class="")
					img(class="your-image-class intense" src="/img/portafolio/Portafolio6.JPG", alt="Decoración de iglesia")
					figcaption
						span(class="parra negritas subrayado") Boda, arreglo de iglesia
						span(class="block negrita") Sin nombre
						span(class="block ") Domingo 18 de Febrero 2016
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado

				figure(class="")
					img(class="your-image-class intense" src="/img/portafolio/Portafolio5.JPG", alt="Decoración de salon personalizado")
					figcaption
						span(class="parra negritas subrayado") Boda
						span(class="block negrita") Sin nombre
						span(class="block ") Sabado 17 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado

				figure(class="")
					img(class="your-image-class intense" src="/img/portafolio/Portafolio7.JPG", alt="Decoración de salon para Graduación")
					figcaption
						span(class="parra negritas subrayado") Graduación
						span(class="block negrita") Sin nombre
						span(class="block ") Viernes 10 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Graduación

				figure(class="")
					img(class="your-image-class intense" src="/img/portafolio/Portafolio8.JPG", alt="Decoración de salon personalizado")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Sin nombre
						span(class="block ") Sabado 15 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Personalizado

				figure(class="")
					img(class="your-image-class intense" src="/img/portafolio/Portafolio9.JPG", alt="Decoración de salon con tematica de los Oscar's")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Sin nombre
						span(class="block ") Sabado 21 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Oscar's

				figure(class="")
					img(class="your-image-class intense" src="img/portafolio/Portafolio10.JPG", alt="Decoración de salon con tematica de Carnaval")
					figcaption
						span(class="parra negritas subrayado") XV años
						span(class="block negrita") Sin nombre
						span(class="block ") Sabado 1 de Diciembre 2015
						span(class="block cursiva") Tema:
							span(class="negrita") Carnaval



				
		
		//a(href="#container--servicios" class="button-back icon-triangle-down-custom")
		//a(href="#portafolio" class="button-back icon-triangle-up-custom")