article(class="container--portafolio")
	div(class="portafolio")
		//a(href="#caracteristicas" class="button-back icon-triangle-up-custom")
		//a(href="#portafolio" class="button-back icon-triangle-down-custom")

		h3(class="portafolio-title" id="portafolio") Portafolio
		h4(class="portafolio-sub") Puedes ver en que eventos hemos estado presentes ultimamente

		nav(class="product-view")
			i(class="fa fa-th btn-gallery active")
			i(class="fa fa-list btn-list")

		div(class="portafolio-content")
			section(class="products gallery")
				figure(class="")
					img(src="https://unsplash.it/700/700?random=01", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=02", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=03", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=04", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=05", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=06", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=07", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=08", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=09", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				figure(class="")
					img(src="https://unsplash.it/700/700?random=10", alt="")
					figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				//figure(class="")
					//img(src="https://unsplash.it/700/700?random=11", alt="")
					//figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
				//figure(class="")
					//img(src="https://unsplash.it/700/700?random=12", alt="")
					//figcaption  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quis provident saepe est, eius quibusdam qui commodi. Molestias molestiae dicta dolorum, fugit reprehenderit dolores id! Ea, earum, quibusdam. Quos, recusandae!
		
		//a(href="#container--servicios" class="button-back icon-triangle-down-custom")
		//a(href="#portafolio" class="button-back icon-triangle-up-custom")