doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title acerca de nosotros | Arias
		meta(name="description" content="Conoce mas sobre nuestros inicios y nuestra razón de ser los mejores en la zona.")
		meta(author="Jahaziel Ortiz Barrios")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="icon", type="image/png" href="/img/favicon-32.png")
			
		link(rel="stylesheet", href="./css/main.css")
	body
		include ./menu/template.jade
		section(class="container")
			
			h1(class="title-section--sin_sobra parra center color-grey") Somos serios con nuestro trabajo y comprometidos.

			article(class="row around middle column margin3")
				div(class="col-5 phon phon-x box-style")
					h3(class="subtitle") Arias | Banquetes & Decoración
					h2(class="") La calidad y la eficiencia esta en nuestro servicio.
					div(class="")
						p(class="parra") Somos 3 hermanas, que empezamos por separado hace ya 28 años.
						p(class="parra") Empezamos con arreglos de iglesias, poco después con el arrendamiento de mantelería. 
						
						p(class="parra") En una ocasión nos buscaron como padrinos de decoración para un salón. Esto nos llevó a hacer decoración con popotes y bases de latas, todo decorado y pintado adecuadamente.
						
						p(class="parra") Después de ese evento que fuimos padrinos de decoración nació la visión y las ganas de decorar para diferentes tipos de eventos a una mayor escala, ya no solo era la decoración de iglesias si no también de salones.


						p(class="parra") Ahora contábamos con mas servicios; mantelería, arrendamiento de mobiliario y decoración.

						p(class="parra") La gente que tuvo la gentileza de confiar en nosotros en nuestros inicios era la que nos recomendaba y también nos sugería nuevos productos, que con gusto agregamos a nuestra lista hasta la fecha, que contamos con una amplia variedad de diseños en decoración y un menú amplio de banquetes.
					
				figure(class="col-7 phon center")
					img(src="./img/show-work.png", alt="", class="img100")


			
			article(class="row around middle column margin3")
				div(class="col-12 phon phon-x box-style")
					div(class="")
						p(class="title-deco fz25 color-grey") No lo leas
						p(class="parra") Somos 3 hermanas, que empezamos por separado hace ya 28 años.
						p(class="parra") Empezamos con arreglos de iglesias, poco después con el arrendamiento de mantelería. 
						
						p(class="parra") En una ocasión nos buscaron como padrinos de decoración para un salón. Esto nos llevó a hacer decoración con popotes y bases de latas, todo decorado y pintado adecuadamente.
						
						p(class="parra") Después de ese evento que fuimos padrinos de decoración nació la visión y las ganas de decorar para diferentes tipos de eventos a una mayor escala, ya no solo era la decoración de iglesias si no también de salones.


						p(class="parra") Ahora contábamos con mas servicios; mantelería, arrendamiento de mobiliario y decoración.

						p(class="parra") La gente que tuvo la gentileza de confiar en nosotros en nuestros inicios era la que nos recomendaba y también nos sugería nuevos productos, que con gusto agregamos a nuestra lista hasta la fecha, que contamos con una amplia variedad de diseños en decoración y un menú amplio de banquetes.

			article(class="row around middle column margin3")
				div(class="col-12 phon phon-x box-style")
					div(class="content")
						div(class="content-box")
							div(class="flex")
								div(class="circulo")
									img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?oh=916534986a04a486d8310d698dba6cb0&oe=5723F834", alt="" class="circulo-a img40")
							
							div(class="flex-a color-grey")
								h2(class="flex-a--title") Lilia Martinez Arias
								p(Class="box-flex-titlte column")
									span(class="color-grey block fz15") Fundadora y
									span(class="color-grey block fz15") Directora general

						div(class="content-box")
							div(class="flex")
								div(class="circulo")
									img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?oh=916534986a04a486d8310d698dba6cb0&oe=5723F834", alt="" class="circulo-a img40")
											
							
							div(class="flex-a color-grey")
								h2(class="flex-a--title") Nohemi Martinez Arias
								p(Class="box-flex-titlte column")
									span(class="color-grey block fz15") Fundadora | Creativa
									span(class="color-grey block") Diseño y Producción.
						
						div(class="content-box")
							div(class="flex")
								div(class="circulo")
									img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?oh=916534986a04a486d8310d698dba6cb0&oe=5723F834", alt="" class="circulo-a img40")
							
							div(class="flex-a color-grey")
								h2(class="flex-a--title") Maria Esther Martinez Arias
								p(Class="box-flex-titlte column")
									span(class="color-grey block fz15") Fundadora | Creativa
									span(class="color-grey block") Diseño y Decoración de inmuebles.

						div(class="content-box")
							div(class="flex")
								div(class="circulo")
									img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?oh=916534986a04a486d8310d698dba6cb0&oe=5723F834", alt="" class="circulo-a img40")
							
							div(class="flex-a color-grey")
								h2(class="flex-a--title") Maria Lourdes Reyes Curi
								p(Class="box-flex-titlte column")
									span(class="color-grey block fz15") Cocina
									span(class="color-grey block") Es la encargada de que tus invitados disfrutes sus alimentos.

						div(class="content-box")
							div(class="flex")
								div(class="circulo")
									img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?oh=916534986a04a486d8310d698dba6cb0&oe=5723F834", alt="" class="circulo-a img40")
							
							div(class="flex-a color-grey")
								h2(class="flex-a--title") Cristina Martinez Santiago
								p(Class="box-flex-titlte column")
									span(class="color-grey block fz15") Almacenista
									span(class="color-grey block") Cristaleria, loza y manteleria.

						div(class="content-box")
							div(class="flex")
								div(class="circulo")
									img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?oh=916534986a04a486d8310d698dba6cb0&oe=5723F834", alt="" class="circulo-a img40")
							
							div(class="flex-a color-grey")
								h2(class="flex-a--title") Juan Mendez Rodriguez
								p(Class="box-flex-titlte column")
									span(class="color-grey block fz15") Almacenista
									span(class="color-grey block") Mobiliario


				article(class="row center middle column margin3")
					div(class="phon col-6 end")
						a(href="/contacto.html" class="button-contacto") Contacto
					div(class="phon col-6 start")
						a(href="/paquetes.html" class="button-green") Paquetes
						
		include ./footer/template.jade

		include ./derechos/template.jade		

		include ./analitics/template.jade
		script(src="./js/bundle.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(class="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		script(src="./js/owl.carousel.min.js")
		script(src="./js/mains.js")