<!DOCTYPE html>
html(lang="es")

	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title acerca de nosotros | Arias
	meta(name="description" content="Conoce mas sobre nuestros inicios y nuestra razón de ser los mejores en la zona.")
	meta(author="Jahaziel Ortiz Barrios")
	link(rel="stylesheet", href="./css/main.css")
body
	include ./menu/template.jade
	section(class="container")
		h1(class="row center margin") Nosotros
		h3(class="subtitle") Somos serios con nuestro trabajo y comprometidos.

		article(class="row around middle column margin3")
			div(class="col-5 phon phon-x box-style")
				h3(class="subtitle") Arias | Banquetes & Decoración
				h2(class="") La calidad y la eficiencia esta en nuestro servicio.
				div(class="")
					p(class="parra") Somos 3 hermanas, que empezamos por separado hace ya 28 años.
					p(class="parra") Empezamos con arreglos de iglesias, poco después con el arrendamiento de mantelería. 
					
					p(class="parra") En una ocasión nos buscaron como padrinos de decoración para un salón. Esto nos llevó a hacer decoración con popotes y bases de latas, todo decorado y pintado adecuadamente.
					
					p(class="parra") Después de ese evento que fuimos padrinos de decoración nació la visión y las ganas de decorar para diferentes tipos de eventos a una mayor escala, ya no solo era la decoración de iglesias si no también de salones.


					p(class="parra") Ahora contábamos con mas servicios; mantelería, arrendamiento de mobiliario y decoración.

					p(class="parra") La gente que tuvo la gentileza de confiar en nosotros en nuestros inicios era la que nos recomendaba y también nos sugería nuevos productos, que con gusto agregamos a nuestra lista hasta la fecha, que contamos con una amplia variedad de diseños en decoración y un menú amplio de banquetes.
				
			
			figure(class="col-7 phon center")
				img(src="./img/show-work.png", alt="", class="img100")

			article(class="row center middle column margin3")
				div(class="phon col-6 end")
					button(class="button-contacto")
						a(href="/#servicios") Servicios
				div(class="phon col-6 start")
					button(class="button-green")
						a(href="/#servicios") paquetes
	include ./footer/template.jade

	include ./derechos/template.jade		


	script(src="./js/bundle.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(class="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
	script(src="./js/owl.carousel.min.js")
	script(src="./js/mains.js")