<!DOCTYPE html>
html(lang="es")

	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title Arias | Banquetes y Decoración
	link(rel="stylesheet", href="./css/main.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
body
	section(class="box-title-banquetes")
	include ./menu/template.jade
	section(class="container")
		section(class="pru")
			article(class="row center")
				div(class="col-12 margintop5")
					h1(class="title-section") Banquetes

			article(class="row center middle column")
				div(class="col-10")
					div(class="phon phon-x") 
					p(class="text-section") Ve nuestros productos sobre servicios mobiliarios y pregunta, recuerda que nosotros lo llevamos a tu casa y ademas puedes solo rentar cualquier producto mobiliario por separado dsadasas grrgrgrg gsgdgr rgsdgdgsdgsdg qweqwrwr  qwqweqweqweq rqwrqrqwrqrrtrtrhdegr lorem ja jahaziel ortiz barrios en el bosque de la china

			article(class="row end middle")
				div(class="col-10")
					h3(class="faq phon phon-x") Preguntas frecuentes ¿?		


			section(class="box-style margin3 padding2")
				article(class="row center middle column")
					div(class="col-4 phon")
						div(class="banquete")
							h2(class="title-tiempos") 1 Tiempo
							ul(class="start")
								li -Plato fuerte
							
					div(class="col-4 phon") 
						div(class="banquete")
							h2(class="title-tiempos") 2 Tiempos
							ul(class="start")
								li -Entre mes ó Crema
								li -Plato fuerte

					div(class="col-4 phon") 
						div(class="banquete")
							h2(class="title-tiempos") 3 Tiempos
							ul(class="start")
								li -Entre mes ó crema
								li -Plato fuerte
								li -Portre

				div(class="row center")
					div(class="col-10")
						p(class="")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea repudiandae blanditiis illo rem dicta iste fugiat veniam, nesciunt minus vero voluptatem non beatae, ex, ad numquam quaerat officiis optio consequatur?


				h2(class="row center") Lista de menu's

				section(class="row center middle column")
					div(class="col-5 phon")
						div(class="banquete")
							h2(class="title-tiempos") 2 Tiempos
							ul(class="start")
								li -Entre mes ó Crema
								li -Plato fuerte

					div(class="col-5 phon")
						div(class="banquete")
							h2(class="title-tiempos") 2 Tiempos
							ul(class="start")
								li -Entre mes ó Crema
								li -Plato fuerte

					div(class="col-5 phon")
						div(class="banquete")
							h2(class="title-tiempos") 2 Tiempos
							ul(class="start")
								li -Entre mes ó Crema
								li -Plato fuerte

					div(class="col-5 phon")
						div(class="banquete")
							h2(class="title-tiempos") 2 Tiempos
							ul(class="start")
								li -Entre mes ó Crema
								li -Plato fuerte



					div(class="col-5 phon")
						div(class="banquete")
							h2(class="title-tiempos") 2 Tiempos
							ul(class="start")
								li -Entre mes ó Crema
								li -Plato fuerte

					div(class="col-5 phon")
						div(class="banquete")
							h2(class="title-tiempos") 2 Tiempos
							ul(class="start")
								li -Entre mes ó Crema
								li -Plato fuerte
