doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title Decoración de eventos, iglesias, arreglos, entradas | Arias
		meta(name="description" content="Encuentra lo mas hermosas entradas, centros de mesa, centrales y todo lo relacionado con la decoración.")
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	body
		section(class="box-title-decoracion")
		include ./menu/template.jade

		section(class="container")
			div(class="pru")

				article(class="row center")
					div(class="col-12 margintop5") 
						h1(class="title-section") Decoración

				article(class="row left middle column")
					div(class="col-10")
						div(class="phon phon-x text-section")
							p(class="parra") <span class="subrayado negrita">¿Quieres que tu evento sea único?</span>, pues este es nuestro servicio de decoración, mas de 25 años de experiencia en el área nos respanldan.
							p(class="parra") Con el tiempo hemos hecho una catalogo de productos cada vez mas amplios, con una variedad que no te imaginas, es por que eso que abajo te mostramos nuestros productos y te detallamos cada uno.
							p(class="parra") La decoración viene incluida en algunos de nuestros paquetes, así que no dudes en visitar nuestra sección de paquetes.
					

				article(class="row end middle")
					div(class="col-10")
						h3(class="faq phon phon-x")
							a(href="faq.html") Preguntas frecuentes 
							span(class="icon-question-circle")
				
				article(class="row around column margin3 box-style")
					div(class="col-6 phon phon-x")
						div(class="text-section--sin_sombra")
							div(class="title-deco icon-box-close box-flex-title center")
								h2(class="start fz25 color-grey")
									span(class="box-flex-title-in") Paquete
									span(class="box-flex-title-in") Básico

							h3(class="center parra negrita color-grey") Nuestro paquete base es de:
							ul(class="listado negrita color-grey")
								li(class="box-flex-title-in listado-wth-margin") - Entrada
								li(class="box-flex-title-in listado-wth-margin") - Mesa de honor
								li(class="box-flex-title-in listado-wth-margin") - 8 Jardineras
								span(class="icon-triangle-right box-flex-title mixin1")

						
					article(class="col-6 phon phon-x center")
						div(class="tab_container")
							input(type="radio" class="tab" id="tab1" name="tabsz" checked)
							label(for="tab1" class="label-tab--para_3")
								i(class="icon-entrada")
								span(class="") Entrada

							input(type="radio" class="tab" id="tab2" name="tabsz")
							label(for="tab2" class="label-tab--para_3")
								i(class="icon-mesa")
								span(class="") Mesa de honor

							input(type="radio" class="tab" id="tab3" name="tabsz")
							label(for="tab3" class="label-tab--para_3")
								i(class="icon-mesa")
								span(class="") Jardineras

							section(id="content1" class="tab-content")
								h3(class="color-grey center") Arreglo de entrada
								p(class="parra") 
								figure(class="center")
									img(src="/img/entrada1.JPG", alt="" class="img60")


							section(id="content2" class="tab-content")
								h3(class="color-grey center") Mesa de honor
								p(class="parra")
								figure(class="center")
									img(src="/img/mesa-honor.jpg", alt="" class="img60")
							
							section(id="content3" class="tab-content")
								h3(class="color-grey center") 8 Jardineras
								p(class="parra color-grey")
								figure(class="center")
									img(src="/img/jardineras.jpg", alt="" class="img60")


				section(class="box-style")
					article(class="row around column")
						div(class="col-12")
							div(class="text-section--sin_sombra")
								div(class="title-deco icon-plus box-flex-title center")
									h2(class="start fz25 color-grey") Tenemos mucho más

								p(class="parra color-grey") Sabemos que quieres más, es por eso que en Arias puedes elegir de entre muchas opciones para agregar a tu baquete base.
					
					article(class="row column margin-products-deco")
						div(class="col-6 phon phon-x")
							div(class="product")
								h3(id="button-eye1" class="title-deco-medium button-eye color-grey icon-eye-plus") <span class="movespan color-grey">Techo</span>
								div(class="product-content")

								div(class="product-content")
									figure(class="")
										img(src="/img/entrada.JPG", alt="" class="img100-100")
							div(class="product")
								h3(id="button-eye2" class="title-deco-medium button-eye color-grey icon-eye-plus") <span class="movespan color-grey">Set de fotos
								div(class="product-content")

								div(class="product-content")
									figure(class="")
										img(src="/img/entrada.JPG", alt="" class="img100-100")

							div(class="product")
								h3(id="button-eye3" class="title-deco-medium button-eye color-grey icon-eye-plus") <span class="movespan color-grey">Arreglo de iglesia
								div(class="product-content")
									p(class="parra color-grey negrita") Incluye: 
										span(class="normal subrayado") Alfombra + 8 Jardineras + Arreglo de entrada
									
								div(class="product-content")
									figure(class="")
										img(src="/img/entrada.JPG", alt="" class="img100-100")
							div(class="product")
								h3(id="button-eye4" class="title-deco-medium button-eye color-grey icon-eye-plus") <span class="movespan color-grey">Centrales
								div(class="product-content")

								div(class="product-content")
									figure(class="")
										img(src="/img/entrada.JPG", alt="" class="img100-100")

						div(class="col-6 phon phon-x")
							div(class="product")
								h3(id="button-eye5" class="title-deco-medium button-eye color-grey icon-eye-plus") <span class="movespan color-grey">Encortinado
								div(class="product-content")
									
								div(class="product-content")
									figure(class="")
										img(src="/img/entrada.JPG", alt="" class="img100-100")
							div(class="product")
								h3(id="button-eye6" class="title-deco-medium button-eye color-grey icon-eye-plus") <span class="movespan color-grey">Barra iluminada
								div(class="product-content")
									
								div(class="product-content")
									figure(class="")
										img(src="/img/entrada.JPG", alt="" class="img100-100")
							div(class="product")
								h3(id="button-eye7" class="title-deco-medium button-eye color-grey icon-eye-plus") <span class="movespan color-grey">Centros de mesa
								div(class="product-content")
									
								div(class="product-content")
									figure(class="")
										img(src="/img/entrada.JPG", alt="" class="img100-100")
							div(class="product")
								h3(id="button-eye8" class="title-deco-medium button-eye color-grey icon-eye-plus") <span class="movespan color-grey">Mesas para dulce
								div(class="product-content")
									p(class="parra color-grey negrita") Mesa para dulse incluye: 
										span(class="normal subrayado") Mesa, Manteleria, Biombo, Bases para dulce, Bases para cupcake Con dulce(opcional)
										
								div(class="product-content")
									figure(class="")
										img(src="/img/entrada.JPG", alt="" class="img100-100")


				article(class="row center middle column margin3")
				
					duv(class="phon col-6 center")
						button(class="button-green") paquetes






		
		include ./footer/template.jade

		include ./derechos/template.jade		
		include ./analitics/template.jade



		script(src="./js/bundle.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(class="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		script(src="./js/owl.carousel.min.js")
		script(src="./js/mains.js")