doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title Decoración de eventos, iglesias, arreglos, entradas | Arias
		meta(name="description" content="Encuentra lo mas hermosas entradas, centros de mesa, centrales y todo lo relacionado con la decoración.")
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	body
		section(class="box-title-decoracion")
		include ./menu/template.jade

		section(class="container")
			div(class="pru")

				article(class="row center")
					div(class="col-12 margintop5") 
						h1(class="title-section") Decoración

				article(class="row left middle column")
					div(class="col-10")
						div(class="text-section")
							p(class="parra") <span class="subrayado negrita">¿Quieres que tu evento sea único?</span>, pues este es nuestro servicio de decoración, mas de 25 años de experiencia en el área nos respanldan.
							p(class="parra") Con el tiempo hemos hecho una catalogo de productos cada vez mas amplios, con una variedad que no te imaginas, es por que eso que abajo te mostramos nuestros productos y te detallamos cada uno.
							p(class="parra") La decoración viene incluida en algunos de nuestros paquetes, así que no dudes en visitar nuestra sección de paquetes.
					

				article(class="row end middle")
					div(class="col-10")
						h3(class="faq phon phon-x")
							a(href="faq.html") Preguntas frecuentes 
							span(class="icon-question-circle")
				
				article(class="row around column margin3 box-style")
					div(class="col-6 phon phon-x")
						div(class="text-section--sin_sombra")
							div(class="title-deco icon-box-close box-flex-title center")
								h2(class="start fz25 color-grey")
									span(class="box-flex-title-in") Paquete
									span(class="box-flex-title-in") Básico

							h3(class="center parra negrita color-grey") Nuestro paquete base es de:
							ul(class="listado negrita color-grey")
								li(class="box-flex-title-in listado-wth-margin") - Entrada
								li(class="box-flex-title-in listado-wth-margin") - Mesa de honor
								li(class="box-flex-title-in listado-wth-margin") - 8 Jardineras
								span(class="icon-triangle-right box-flex-title mixin1")

						
					article(class="col-6 content-carrusel-deco center")
						div(class="tab_container")
							input(type="radio" class="tab" id="tab1" name="tabsz" checked)
							label(for="tab1" class="label-tab--para_3")
								i(class="icon-entrada")
								span(class="") Entrada

							input(type="radio" class="tab" id="tab2" name="tabsz")
							label(for="tab2" class="label-tab--para_3")
								i(class="icon-mesa")
								span(class="") Mesa de honor

							input(type="radio" class="tab" id="tab3" name="tabsz")
							label(for="tab3" class="label-tab--para_3")
								i(class="icon-decoracion-flower")
								span(class="") Jardineras

							section(id="content1" class="tab-content")
								h3(class="color-grey center") Arreglo de entrada
								p(class="parra")
								div(class="row center")
									figure(class="col-12 owl-carousel-entrada")
										div(class="")


							section(id="content2" class="tab-content")
								h3(class="color-grey center") Mesa de honor
								p(class="parra")
								div(class="row center")
									figure(class="col-12 owl-carousel-honor")
										div(class="")
							
							section(id="content3" class="tab-content")
								h3(class="color-grey center") 8 Jardineras
								p(class="parra color-grey")
								div(class="row center")
									figure(class="col-12 owl-carousel-jardineras")
										div(class="")


				section(class="box-style")
					article(class="row around column")
						div(class="col-12")
							div(class="text-section--sin_sombra")
								div(class="title-deco box-flex-title center")
									h2(class="start fz25 color-grey") Tenemos mucho más

								p(class="parra color-grey") Sabemos que quieres más, es por eso que en Arias puedes elegir de entre muchas opciones para agregar a tu baquete base.
					
					article(class="row column margin-products-deco")
						div(class="col-6 content-carrusel-deco")


							div(class="catalogo_container")
								p(class="title-deco-show") Techo
								input(type="checkbox" class="checkbox" id="check1" name="checks")
								label(for="check1" class="label-checkbox")
									div(class="label-background-off")
										i(class="icon-minus milo")
									div(class="label-background-on")
										i(class="icon-plus-mas kilo")

									<!--span(class="") Vasos-->


								section(id="content-check1" class="tab-content")
									p(class="color-grey center normal") Tendras un hermoso techo como los siguientes:
									p(class="parra")
									figure(class="col-12 owl-carousel-techo")
										div(class="")


							div(class="catalogo_container")
								p(class="title-deco-show") Set de fotos
								input(type="checkbox" class="checkbox" id="check2" name="checks")
								label(for="check2" class="label-checkbox")
									div(class="label-background-off")
										i(class="icon-minus milo")
									div(class="label-background-on")
										i(class="icon-plus-mas kilo")

									<!--span(class="") Vasos-->


								section(id="content-check2" class="tab-content")
									p(class="color-grey center normal") Tus fotos de recuerdo se veran perfectas en estos set's
									p(class="parra")
									figure(class="col-12 owl-carousel-set")
										div(class="")


							div(class="catalogo_container")
								p(class="title-deco-show") Arreglo de iglesias
								input(type="checkbox" class="checkbox" id="check3" name="checks")
								label(for="check3" class="label-checkbox")
									div(class="label-background-off")
										i(class="icon-minus milo")
									div(class="label-background-on")
										i(class="icon-plus-mas kilo")
									<!--span(class="") Vasos-->


								section(id="content-check3" class="tab-content")
									p(class="color-grey parra center") Contiene:
									ul(class="list-table--normal")
										li Alfrombra
										li 8 Jardineras
										li Entrada
									figure(class="col-12 owl-carousel-iglesias")
										div(class="")


							div(class="catalogo_container")
								p(class="title-deco-show") Centrales
								input(type="checkbox" class="checkbox" id="check4" name="checks")
								label(for="check4" class="label-checkbox")
									div(class="label-background-off")
										i(class="icon-minus milo")
									div(class="label-background-on")
										i(class="icon-plus-mas kilo")

									<!--span(class="") Vasos-->


								section(id="content-check4" class="tab-content")
									p(class="color-grey center normal") En el centro del salon estará un hermoso arreglo en el techo.
									p(class="parra")
									figure(class="col-12 owl-carousel-centrales")
										div(class="")

						div(class="col-6 content-carrusel-deco")
						
							div(class="catalogo_container")
								p(class="title-deco-show") Encortinado
								input(type="checkbox" class="checkbox" id="check5" name="checks")
								label(for="check5" class="label-checkbox")
									div(class="label-background-off")
										i(class="icon-minus milo")
									div(class="label-background-on")
										i(class="icon-plus-mas kilo")

									<!--span(class="") Vasos-->


								section(id="content-check5" class="tab-content")
									p(class="color-grey center normal") Ejemplos:
									p(class="parra")
									figure(class="col-12 owl-carousel-encortinado")
										div(class="")
							div(class="catalogo_container")
								p(class="title-deco-show") Barra iluminada
								input(type="checkbox" class="checkbox" id="check6" name="checks")
								label(for="check6" class="label-checkbox")
									div(class="label-background-off")
										i(class="icon-minus milo")
									div(class="label-background-on")
										i(class="icon-plus-mas kilo")

									<!--span(class="") Vasos-->


								section(id="content-check6" class="tab-content")
									p(class="color-grey center normal") El barman estará en una lujosa barra atentiendo a tus invitados.
									p(class="parra")
									figure(class="col-12 owl-carousel-barra")
										div(class="")
							div(class="catalogo_container")
								p(class="title-deco-show") Centros de mesa
								input(type="checkbox" class="checkbox" id="check7" name="checks")
								label(for="check7" class="label-checkbox")
									div(class="label-background-off")
										i(class="icon-minus milo")
									div(class="label-background-on")
										i(class="icon-plus-mas kilo")

									<!--span(class="") Vasos-->


								section(id="content-check7" class="tab-content")
									p(class="color-grey center normal") Hemosos arreglos de mesa de recuerdo para tus invitados
									p(class="parra")
									figure(class="col-12 owl-carousel-centros")
										div(class="")
							
							div(class="catalogo_container")
								p(class="title-deco-show") Mesas para dulces
								input(type="checkbox" class="checkbox" id="check8" name="checks")
								label(for="check8" class="label-checkbox")
									div(class="label-background-off")
										i(class="icon-minus milo")
									div(class="label-background-on")
										i(class="icon-plus-mas kilo")

									<!--span(class="") Vasos-->


								section(id="content-check8" class="tab-content")
									p(class=" negrita color-grey center normal") Incluye:
									ul(class="list-table--normal")
										li Mesa
										li Manteleria
										li Biombo
										li Bases para dulce
										li Dulces(opcional)
									figure(class="col-12 owl-carousel-dulces")
										div(class="")
							


				article(class="row center middle column margin3")
				
					duv(class="phon col-6 center")
						button(class="button-green") paquetes






		
		include ./footer/template.jade

		include ./derechos/template.jade		
		include ./analitics/template.jade



		script(src="./js/bundle.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(class="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		script(src="./js/owl.carousel.min.js")
		script(src="./js/mains.js")