$header-color = #A41652
$rosa-secundario = #C50E5B
$white-proyect = #F2F2F2
$white-about = #f5f5f5
$green-proyect = #92b331
$green-proyect2 = #8BC34A
$grey-servicios = #e6e6e6
$negro-carbon = #2d2b2b
$color-grey = red

@import "nib"
@import "./utilidades/reset.styl"
@import "./utilidades/normalize.css"
@import "./*/*"



@import './*/styles'


body
	font-family 'Lato'
	font-size 16px
	background-color: $white-proyect
	


