doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title Meseros | Arias
		meta(name="description" content="Contamos con servicio de meseros, capacitados para cualquier evento, llámanos y cuéntanos cuantos requieres.")
		link(rel="icon", type="image/png" href="/img/favicon-32.png")
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	body
		section(class="box-title-meseros")
		include ./menu/template.jade
		section(class="container")
			section(class="pru")
				article(class="row center")
					div(class="col-12 margintop5") 
						h1(class="title-section") Meseros

				article(class="row left middle column")
					div(class="col-10")
						div(class="phon phon-x text-section") 
							p(class="parra color-white") En Arias Banquetes & Decoración sabemos que el día de tu evento solo quieres disfrutar del momento, junto a la familia, amigos, vecinos etcétera, es por eso que nosotros estamos asociados con el <span class=""><a class="subrayado link-pink", href="https://www.facebook.com/meseros.lorena/" target="_blank">Grupo de meseros “Lorena”</a></span>, para que tengas a la mano los meseros que sean necesarios para atender de la mejor manera a todos tus invitados.

				article(class="row end middle")
					div(class="col-10")
						p(class="faq phon phon-x")
							a(href="faq.html" class="") Preguntas frecuentes 
							span(class="icon-question-circle")



				article(class="box-style row around middle column margin3")


					div(class="col-8 phon phon-x")
						div(class="text-section--sin_sombra color-grey")
							h2(class="title-deco") Grupo de meseros
							p(class="parra") Caracteristicos por su:
							ul(class="listado")
								li Presentación
									
								li Amabilidad
								
								li Eficiente

								li Mobilidad

								li Profecionalismo
					figure(class="col-4 phon center cambio-de-orden")
						img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/12316403_833669340082851_4381915432382777738_n.png?oh=54f65ecd51098ea0c4ba8f72b6f147d8&oe=57669B95", alt="", class="img80")

				article(class="box-style row around middle column margin3")
					div(class="col-10")
						div(class="row column")
							p(class="center  phon phon-x fz16 col-6 negrta text-section--sin_sombra color-grey title-deco") Nuestra confianza esta en: 
								a(href="https://www.facebook.com/meseros.lorena/" target="_blank" class="link-pink") Grupo de meseros Lorena

						p(class="parra color-grey") <a href="https://www.facebook.com/lorena.anaya.568" target="_blank" class="link-facebook">Lorena Anaya Pérez</a> es la Capitana del grupo y ella es la encarga de coordinar a los muchachos meseros, siempre buscando que la atención hacia tus invitados sea amable y educada, buscando la rapidez y eficiencia en el servicio, además de tener una excelente presentación como meseros, que es lo que siempre ha diferenciado a este grupo del resto.

						p(class="parra color-grey") Sus servicios son avalados por nosotros, ya que llevamos años trabajando de la mano, mismos que han hecho la relación laboral llena de confianza y aprecio. 

				article(class="box-style row center middle column margin3")
					div(class="col-12")
						div(class="text-section--sin_sombra")
							h2(class="title-deco") Tenerlos en tu evento es un lujo que valdrá la pena

				
						div(class="tab_container")
							input(type="radio" class="tab" id="tab3" name="tabsx" checked)
							label(for="tab3" class="label-tab--para_3_colors green")
								i(class="icon-shirt-green block")

							input(type="radio" class="tab" id="tab4" name="tabsx")
							label(for="tab4" class="pink label-tab--para_3_colors")
								i(class="icon-shirt-pink block")

							input(type="radio" class="tab" id="tab5" name="tabsx")
							label(for="tab5" class="label-tab--para_3_colors green-p")
								i(class="icon-shirt-green-p block")

							section(id="content3" class="tab-content")
								
								figure(class="center")
									img(src="/img/meseros/mesero01.jpg", alt="" class="img60")


							section(id="content4" class="tab-content")
								
								figure(class="center")
									img(src="/img/meseros/mesero02.jpg", alt="" class="img60")

							section(id="content5" class="tab-content")
								
								figure(class="center")
									img(src="/img/meseros/mesero03.jpg", alt="" class="img60")


				article(class="row center middle column margin3 box-style")
					div(class="col-12")
						div(class="row center")
							div(class="col-8")
								p(class="box-schedule-top") ¿Has decidido tambien tener sus servicios?
								
								div(class="box-schedule")
									p(class="negrita") Pues llámanos a los teléfonos
						

										ul(class="list-contact")
											li(class="number") 
												a(class="number-style icon-phone link-gris" href="tel:+9222644586") 9222644586
												
											li(class="number") 
												a(class="number-style icon-mobile link-gris" href="tel:+9221303006") 9221303006
											li(class="number")
												a(class="number-style icon-mobile link-gris" href="tel:+9222558116") 9222558116
									
									p(class="negrita") ó mándanos un mensaje en nuestro perfil de Facebook
										ul(class="list-contact")
											li(class="number")
												a(class="number-style icon-facebook link-gris" href="https://www.facebook.com/Arias-Banquetes-Decoraci%C3%B3n-914872191930626/" target="_blank") Banquetes y Decoración | Arias

												p(class="parra") Tambien puedes escribir a ellos en su cuenta de facebook

												a(class="number-style icon-facebook link-gris" href="https://www.facebook.com/meseros-lorena/" target="_blank") Grupo de meseros | Lorena

									
						div(class="row center")
							div(class="col-10")
									div(class="box-schedule-bottom") Horario de oficina:
										p(class="parra center") 9:00am a 3.00pm | 5:00am a 8:30pm Lunes-Sabado
										p(class="parra center") Domingo de 9:00am a 2:00pm


				article(class="row center middle column margin3")
				
					duv(class="phon col-6 center")
						button(class="button-green") Paquetes

		include ./footer/template.jade

		include ./derechos/template.jade		



		script(src="./js/bundle.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(class="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
		script(src="./js/owl.carousel.min.js")
		script(src="./js/mains.js")