.footer
	background-color #424242
	display flex
	position relative
	color white
	

	&-content
		
		margin: 3em 0 2em 3em
		width 40%
	&-list
		margin-top .4em
		&-item 
			color white
			padding .2em 0
			margin-left .4em
			display block
			a
				color white
			


@media (max-width: 587px)
	.footer
		flex-direction column


.derechos
	border-top solid 5px #009DEA
	background-color #333333
	text-align center
	padding 2em
	color $white-proyect