.footer
	background-color gray
	display flex
	position relative
	&-content
		
		margin: 3em 0 2em .5em
		width 40%


@media (max-width: 587px)
	.footer
		flex-direction column


.derechos
	border-top solid 5px #009DEA
	background-color #333333
	text-align center
	padding 2em
	color $white-proyect