//article(class="container")
article(class="footer")
	div(class="footer-content")
		H3(class="footer-title") Arias
		span Banquetes & Decoración

		ul(class="footer-list")
			li(class="footer-list-item") Sobre nosotros
			li(class="footer-list-item") Equipo
			li(class="footer-list-item") Portafolio
			li(class="footer-list-item") Contacto
	div(class="footer-content")
		h3(class="footer-title") Servicios
		ul(class="footer-list")
			li(class="footer-list-item")
				a(href="mobiliario.html") Mobiliario
			li(class="footer-list-item")
				a(href="meseros.html") Meseros
			li(class="footer-list-item")
				a(href="manteleria.html") Manteleria
			li(class="footer-list-item")
				a(href="cristaleria.html") Cristaleria
			li(class="footer-list-item")
				a(href="decoracion.html") Decoración
			li(class="footer-list-item")
				a(href="banquetes.html") Banquetes

		a(href="#header" class="button-circle icon-triangle-up")
