//article(class="container")
article(class="footer")
	div(class="footer-content")
		H3(class="footer-title") Arias
		span Banquetes & Decoración

		ul(class="footer-list")
			li(class="footer-list-item") Sobre nosotros
			li(class="footer-list-item") Equipo
			li(class="footer-list-item") Portafolio
			li(class="footer-list-item") Contacto
	div(class="footer-content")
		h3(class="footer-title") Servicios
		ul(class="footer-list")
			li(class="footer-list-item") Mobiliario
			li(class="footer-list-item") Meseros
			li(class="footer-list-item") Manteleria
			li(class="footer-list-item") Cristaleria
			li(class="footer-list-item") Decoración
			li(class="footer-list-item") Musica

		div(class="button-circle icon-up") 